

/*///////////////////*/
/* mobile styling  */
/*///////////////////*/

@media only screen and (max-width: 600px) {

  .normal-body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .rocket-body {
    background: black;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .normal-header {
    background: #ffcb05;
    text-align: center;
    color:  #2a75bb;
    letter-spacing: .05em;
    border: 2px solid #3c5aa6;
  }

  .normal-header h1 {
    text-shadow: 1px 2px whitesmoke;
    font-size: 44px;
    background: white;
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 50%;
    margin-left: 25%;
  }

  .normal-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    background: #3c5aa6;
    border: 2px solid #3c5aa6;
  }

  .normal-nav a {
    color: white;
    padding: .2em;
    text-decoration: none;
  }

              /* ROCKET MOBILE HEADER  */
  .rocket-header {
    background: black;
    text-align: center;
    color:  white;
    letter-spacing: .05em;
    border: 2px solid whitesmoke;
    border-bottom: none;
  }

  .rocket-header h1 {
    text-shadow: 1px 2px rgba(256,0,10,1);
    font-size: 44px;
    background: black;
    font-family: 'Ubuntu Condensed',serif;
    width: 50%;
    margin-left: 25%;
  }

  .rocket-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    background: rgba(256,0,10,1);
    border: 2px solid whitesmoke;
  }

  .rocket-nav a {
    color: white;
    padding: .2em;
    text-decoration: none;
  }

/* normal container */

  .container {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* who's that pokemon normal button  */
  .normal-randomizer {
    background: #3c5aa6;
    color: white;
    width: 200px;
    height: 70px;
    font-size: 26px;
    box-shadow: 1px 3px #3c5aa6;
  }

  /* applies to both modals  */

  #modal-text h3 {
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Fjalla One', sans-serif;
  }

  /* normal mobile hints  */

  .normal-hint, .normal-submit {
    background: #ffcb05;
    color: #3c5aa6;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    width: 60px;
    letter-spacing: .05em;
    border: 1px solid #3c5aa6;
    box-shadow: 1px 3px #3c5aa6;
  }

  .hint-modal,
  .about-modal {
    display: flex;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
  }



  .modal-textbox {
    background: white;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    border: 1px solid #3c5aa6;
    color: rgb(42, 117, 187);
    box-shadow: 5px 7px #3c5aa6;
    font-family: 'Ubuntu Condensed',serif;
    font-size: 18px;
  }

  .close-btn {
    align-self: flex-end;
    margin: 1em;
    margin-bottom: -1em;
    height: 40px;
    width: 70px;
    background: #ffcb05;
    border: 2px solid white;
    color: #3c5aa6;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: .05em;
    border: 1px solid #3c5aa6;
    box-shadow: 1px 3px #3c5aa6;
  }


  .normal-style {
    align-self: flex-end;
    justify-content: flex-end;
    display: none;
  }

  #normal-mode {
    background: #ffcb05;
    border: 2px solid white;
    color: #3c5aa6;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    height: 30px;
    border: 2px solid #3c5aa6;
    box-shadow: 1px 3px #3c5aa6;
  }


/* ROCKET MOBILE HINTS  */

  .rocket-modal {
    background: white;
    width: 70%;
    height: 60%;
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: black;
    border: 2px solid rgba(256,0,10,1);
    color: white;
    box-shadow: 5px 7px rgba(256,0,10,1);
    font-family: 'Ubuntu Condensed',serif;
    font-size: 18px;
  }

  .rocket-hint {
    background: black;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    width: 60px;
    letter-spacing: .05em;
    border: 1px solid rgba(256,0,10,1);
    box-shadow: 1px 3px rgba(256,0,10,1);
  }

  .rocket-btn {
    align-self: flex-end;
    margin: 1em;
    margin-bottom: -1em;
    height: 40px;
    width: 70px;
    background: black;
    color: white;
    border: 2px solid rgba(256,0,10,1);
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: .05em;
    box-shadow: 1px 2px rgba(256,0,10,1);
  }

  .team-rocket {
    align-self: flex-end;
    justify-content: flex-end;
  }

  #rocket-mode {
    background: black;
    border: 2px solid rgba(256,0,10,1);
    color: white;
    font-size: 18px;
    font-family: 'Fjalla One', sans-serif;
    height: 35px;
    box-shadow: 1px 3px rgba(256,0,10,1);
  }


}

/* global variables for the game to work on mobile and desktop DONT EDIT*/

.hint-modal {
  display: none;
}

/* .submit-form {
  display: none;
} */

.about-modal {
  display: none;
}

.correct-answer {
  display: none;
}

.wrong-answer {
  display: none;
}

.name {
  text-transform: capitalize;
}


.typing {
  text-transform: capitalize;
}

.abilities {
  text-transform: capitalize;
}
